# Ignore all __pycache__ directories recursively
__pycache__/

# Alternatively, you can use this to ignore all pycaches and .pyc files
**/__pycache__/
*.py[cod]

# WandB directories
wandb/*
Markov-LLM-depth/wandb/*
Markov-LLM-depth/*.npy
Markov-LLM-depth/exps/*
Markov-LLM-depth/src/wandb
Markov-LLM-depth/src/exps/*
Markov-LLM-depth/src/__pycache__
Markov-LLM-depth/models/__pycache__
analyze_wandb/optimal/*[]
Markov-LLM-depth_modified/model.pt
exps/*